body{
	background: #B0C4DE;
}

h3 {
	margin: 3% 0% 0% 32%;
}

.form-field-label{
	display: inline-block;
	margin: 3% 0% 0% 32%;
	width: 150px;
}

.form-field-label.description{
	vertical-align: top;
}

.form-field-label.first{
	margin: 1% 0% 0% 32%;
}

.form-field-value{
	display: inline-block;
	margin: 3% 0% 0% 0%;
}

.form-field-value.first{
	margin: 1% 0% 0% 0%;
}


.submit-btn{
	margin: 3% 0% 0% 40%;
}

#crate-user-submit{
	margin: 3% 0% 0% 12%;
}

.error-pan{
	margin: 1% 0% 0% 32%;
	color: red;
}

#create-edit-back-button{
	margin: 3% 0% 0% 32%;
}

#users-table{
	margin: 3% 0% 0% 26%;
    border: solid 2px;
    border-spacing: 0px;
    border-collapse: collapse;
}
#users-table thead{
	background: black;
	color: white;
}

#users-table th{
	border: solid 2px black;
	text-align: center;
    padding: 5px 30px;
}

#users-table td{
	border: solid 1px;
    text-align: center;
    padding: 5px 20px;
}

#view-users-headline{
	font-size: xx-large;
	margin: 3% 0% 0% 36%;
}

.delete-user{
	background-image: url(../images/delete-user.png);
    background-repeat: no-repeat;
    background-position: center;
	cursor: pointer;
}

.delete-user:hover{
	background-color: red;
}

#view-editors-back-button{
    margin: 2% 0% 0% 26%;
    font-size: x-large;
}

#logout-div{
	  float: right;
    margin-right: 35%;
}
