body{

/* fallback */
background-color: #403B4A;
background-repeat: repeat-x;
/* Safari 4-5, Chrome 1-9 */
background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#1a82f7), to(#2F2727));
/* Safari 5.1, Chrome 10+ */
background: -webkit-linear-gradient(top, #403B4A, #E7E9BB);
/* Firefox 3.6+ */
background: -moz-linear-gradient(top, #403B4A, #E7E9BB);
/* IE 10 */
background: -ms-linear-gradient(top, #403B4A, #E7E9BB);
/* Opera 11.10+ */
background: -o-linear-gradient(top, #403B4A, #E7E9BB);
}

h3 {
	margin: 3% 0% 0% 32%;
}

#form-container{
	height: 500px;
}

.form-field-label{
	display: inline-block;
	margin: 3% 0% 0% 32%;
	width: 150px;

	color: #ffffff;
	font-family: 'Droid serif';
	font-size: 20px;
	font-weight: 300;
	line-height: 58px;

}

.form-field-label.description{
	vertical-align: top;
}

.form-field-label.first{
	margin: 1% 0% 0% 32%;
}

.form-field-value{
	display: inline-block;
	margin: 3% 0% 0% 0%;
}

.form-field-value.first{
	margin: 1% 0% 0% 0%;
}


.submit-btn{
	margin: 3% 0% 0% 40%;
}

#crate-user-submit{
	margin: 3% 0% 0% 12%;
}

.error-pan{
	margin: 1% 0% 0% 32%;
	color: red;
}

#create-edit-back-button{
	margin: 3% 0% 0% 32%;
}

#users-table{
	margin: 3% 0% 0% 26%;
    border: solid 2px;
    border-spacing: 0px;
    border-collapse: collapse;
}
#users-table thead{
	background: black;
	color: white;
}

#users-table th{
	border: solid 2px black;
	text-align: center;
    padding: 5px 30px;
}

#users-table td{
	border: solid 1px;
    text-align: center;
    padding: 5px 20px;
}

#view-users-headline{
	font-size: xx-large;
	margin: 3% 0% 0% 36%;
}

.delete-user{
	background-image: url(../images/delete-user.png);
    background-repeat: no-repeat;
    background-position: center;
	cursor: pointer;
}

.delete-user:hover{
	background-color: red;
}

#view-editors-back-button{
    margin: 2% 0% 0% 26%;
    font-size: x-large;
}

#logout-div{
	  float: right;
    margin-right: 35%;
}

input[type="button"]{
	 border-radius: 3px;
	 font-family: Georgia;
	 font-style: normal;
	 font-weight: bold;
	 height: 33px;
	 background-color: #ff944d;
	 border-color: #ff944d;
	 color:#ffffff;
}

.kid-news-heading{
	color: #ffffff;
	font-family: 'Droid serif',
	serif;
	font-size: 50px;
	font-weight: 400;
	font-style: italic;
	line-height: 44px;
	/*margin: 0 0 12px;*/
	text-align: center;
	margin-left:0%;




}
